# Binance Futures API (для live_bot.py)
# Testnet: создайте ключи на https://testnet.binancefuture.com
# Mainnet: настройки Binance → API Management

BINANCE_API_KEY=lc8fwYCQcuRUYsN0jrksKfaRwOIHREdA1BUNWS4lHatXxCQLpzYzZwO7TuC5MpvU
BINANCE_SECRET=fIq3QGKYF8UKIs2JWnD6S9UKFq44ZN2Q85lEmjrhlWBqdVMEtH22lCOljx1oEkHE
